*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;


    
}

body.lock{
    overflow: hidden;
}

ol, ul {
    padding-left: initial;
}

.preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 101vh;
    background: #fff;
    z-index: 99;
    transition: .8s all;
    opacity: 1;
    visibility: visible;
}

.preloader-done{
    opacity: 0;
    visibility: hidden;
}

.header {
    background: #fff;
    height: 65px;
    z-index: 113;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .2s linear;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.header-content{
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
}

.show-header{
    animation-name: show-header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes show-header{
    0%{
        visibility: visible;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}


.header.hide {
    transform: translateY(-65px);
}

.page{
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    min-height: 101vh;
    background-image: url('img/back.jpg');


}

.main {
    position: relative;
    min-height: 100%;
}

.header__section, .header__section3, .header__section2{
    display: flex;
    align-items: center;
    color:  #b22222;  
    font-weight: 500;
}

.header__section a, .header__section2 a, .header__section3 a{
    font-size: 20px;
}



.header__section2 a{
    font-weight: bolder;
    font-weight: 20px;
    color: #dd5145;;
    font-weight: bolder;
}

.header__section a:hover, .header__section2 a:hover, .header__section3 a:hover{
    color:  #dd5145;
    transition: 0.1s;
    text-decoration: underline;
}

.chosen-header-link{
     color:  #dd5145 !important;
     text-decoration: underline !important;
}

.header__item{
    padding: 6px 7px;

}



.header__item2{
    padding: 10px 5px 10px 0;
    font-size: 19px;
}

.header__logo{
    /*margin-left: 130px;*/
}

.footer {
    padding: 0 100px;
    color: white;
    min-height: 60px;
    display: flex;
    background: #191C1C;
    margin-top: auto;
    box-shadow: 0 0 15px 10px rgb(0 0 0 / 40%);
    z-index: 113;
    justify-content: space-between;
}

.filler{
    height: 300px;
    background: #1A1717;
    width: 500px;
}

.logo{
    height: 55px;
    width: 70px;
}

.footer_links{
    margin: auto 0
}

.Asto{
    margin: auto 0;
}

.bottom_link{
    color: #dd5145;
    text-decoration: none;
    margin: 15px;
}

.basket_counter {
    position: absolute;
    width: 25px;
    bottom: 10px;
    right: -5px;
    height: 23px;
    line-height: 21px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: black;
    border: 2px solid;
    background-color: #fff;
    border-radius: 50%;
    font-style: normal;
    transition: .2s;
}

#basket_counter.fa-lg {
    font-size: 1.7em;
    line-height: 0.05em;
    vertical-align: -0.075em;
}

.lang-button{
    border: none;
    color: #dd5145;   
    font-weight: 500;
    background: none;
    transition: .1s;
    margin: 0 2px;
}

.lang-button:hover{
    text-decoration-line: underline;
}

.chosen-lang{
    text-decoration-line: underline;
}


.chek-chek{
    transition: .2s;
}

.chek-chek:hover{
    transform: scale(1.2);
}

.scale{
    transform: scale(1.2);
}

.empty-page-logo{
    max-width: 490px;
    margin: 125px auto 0;
}

.empty-page-logo img{
    width: 100%;
}

.empty-page-title{
    text-align: center;
    font-size: 26px;
    font-weight: 400;    
}